<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cllasify.cllasify">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cllasify">
        <activity android:name=".Group_Join"/>
        <activity android:name=".ProfileMine.UnderNotification.QusAndAns" />
        <activity android:name=".ProfileMine.UnderNotification.ServerMessages" />
        <activity android:name=".ProfileMine.UnderNotification.DirectMessages" />
        <activity android:name=".ProfileMine.Notification" />
        <activity android:name=".ProfileMine.Premium" />
        <activity android:name=".ProfileMine.About" />
        <activity android:name=".ProfileMine.Help" />
        <activity android:name=".ProfileMine.Theme" />
        <activity android:name=".ProfileMine.Servers" />
        <activity android:name=".ProfileMine.Privacy" />
        <activity android:name=".Register.VerifyNumber" />
        <activity android:name=".ProfileMine.UnderMyAccount.Change_password" />
        <activity android:name=".ProfileMine.UnderMyAccount.Edit_Phone_Number" />
        <activity android:name=".ProfileMine.UnderMyAccount.Edit_Email" />
        <activity android:name=".ProfileMine.UnderMyAccount.Edit_Username" />
        <activity android:name=".ProfileMine.MyAccount" />
        <activity android:name=".ProfileMine.Set_Status" />
        <activity android:name=".ProfileMine.Social" />
        <activity android:name=".ProfileMine.Profile" />
        <activity android:name=".Feed.User_Question" />
        <activity android:name=".Register.Phone_Verify" />
        <activity android:name=".Register.Phone_Login" />
        <activity android:name=".Feed.Landing_Feed_Answer" />
        <activity android:name=".Feed.Landing_Feed" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Register.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>