<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cllasify.cllasify">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name=".Utility.AppOpenAds"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cllasify">
        <activity
            android:name=".NestedRecyclerview.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Friend_Chat_Activity"
            android:exported="false" />
        <activity
            android:name=".Home.Discover_Item"
            android:exported="false" />
        <activity android:name=".EditLocationActivity" />
        <activity android:name=".Profile.AccountSetting_Activity" />
        <activity android:name=".Home.Notification_Activity" />
        <activity android:name=".Home.Profile_Activity" />
        <activity android:name=".Home.Discover_Activity" />
        <activity android:name=".Home.Server_Activity" />
        <activity android:name=".Profile.ProfileSetting_Activity" />
        <activity
            android:name=".Explore"
            android:exported="true" />
        <activity android:name=".ServerView" />
        <activity android:name=".ClassView" />
        <activity android:name=".ProfileMine.Settings" />
        <activity android:name=".Server.Attendance_Activity" />
        <activity android:name=".Group_Join" />
        <activity android:name=".ProfileMine.Notification" />
        <activity android:name=".ProfileMine.Premium" />
        <activity android:name=".Register.VerifyNumber" />
        <activity android:name=".ProfileMine.UnderAccountSettings.Change_password" />
        <activity android:name=".ProfileMine.UnderAccountSettings.Edit_Phone_Number" />
        <activity android:name=".ProfileMine.UnderAccountSettings.Edit_Email" />
        <activity android:name=".ProfileMine.UnderAccountSettings.Edit_Username" />
        <activity android:name=".ProfileMine.AccountSettings" />
        <activity android:name=".ProfileMine.ProfileOthers" />
        <activity android:name=".Feed.User_Question" />
        <activity android:name=".Register.Phone_Verify" />
        <activity android:name=".Register.Phone_Login" />
        <activity android:name=".Feed.Landing_Feed_Answer" />
        <activity android:name=".Feed.Landing_Feed" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".Register.getStarted"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDq851TO1DznZVgMsCbdPRvLcu5pvhlwo" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Sample Ad Manager app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>